body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background:black;
}

h2, ol, ul{
	color:white;
}

a {
  color: #00B7FF;
}

p{
	color: white;
}

form{
	color:black;
}

canvas{
	width:100%;
}